

.ired img{
	height: 100%;
	width: 100%;
	opacity: 0;
}
.ired .container-imgs-ir{
	height: 560px;
	width: 100%;
	box-shadow:  0 2px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	/*background: url("img/postbg.jpg");*/
}
.ired .container-imgs-ir img{
	position: absolute;
	left: 0;
	top: 0;
}
.ired .panel-drive{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.ired .panel-drive div{
	font-size: 20px;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #000;
	display: inline-block;
	padding: 2px;
	margin: 0 3px;
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
}
.ired .panel-drive div:active{
	box-shadow: none;
	color: #ddd;
}
.ired .m.progress{
    height: 6px;
    width: 100%;
    margin: 0 auto;
    border-radius: 1px;

}
.ired .progress-loader{
    position: absolute;
    top: -6px;
    height: 10px;
    width: 100%;
}
